################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.idea
/Mobile Application/.idea
/Mobile Application/app/google-services.json
